<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon_new_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_new_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSql"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".customer.Auth.BecomeSeller.BecomeSellerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".customer.Auth.SplashScreenLOGO"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".customer.Fragments.product.ProductShowLayoutActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SellerDashbord.SellerSellProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SellerDashbord.ListofproductSellerActivity"
            android:exported="false"
            android:parentActivityName=".SellerDashbord.SelllerDashboardActivity"
            android:theme="@style/Theme.LoginSqlwithtooolbar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SellerDashbord.AddProductActivity"
            android:exported="false"
            android:parentActivityName=".SellerDashbord.SelllerDashboardActivity"
            android:theme="@style/Theme.LoginSqlwithtooolbar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SellerDashbord.SelllerDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginSqlwithtooolbar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SellerDashbord.SellerloginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".customer.HomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".customer.Auth.SignupActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".customer.Auth.LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>